.card-columns
    -@users.each do |user|
        .card-header
        .fa.fa-user
        =user.email
        .card-footer 
        Signed up
        = time_ago_in_words(user.created_at)
        .card-footer 
            -user.roles.each do |role|
                = role.name
        = link_to 'Edit role', edit_user_path(user)

            
    