%hr 
%footer
    .container
        .row
            .col-md-4
            Copyright
            = Time.now.year
            CoursePlatform
            .col-md-4
            Privacy policy
            